<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">

    <label for="nome" class="">Nome</label>

    <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(nome)"
           name="nome" id="nome" placeholder="Nome" [(ngModel)]="usuario.nome"
           required aria-describedby="nomeFeedback" #nome="ngModel">

    <app-campo-control-erro
      [mostrarErro]="verificaValidTouched(nome)"
      msgErro="Nome é obrigatório.">
    </app-campo-control-erro>
  </div>


  <div class="form-group">
    <label for="email">Email</label>

    <input type="email" class="form-control" [ngClass]="aplicaCssDeErro(email)"
           name="email" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
           required email #email="ngModel">

    <app-campo-control-erro
      [mostrarErro]="verificaValidTouched(email)"
      msgErro="Email inválido.">
    </app-campo-control-erro>

  </div>

  <div ngModelGroup="endereco">
    <div class="form-group form-row">
      <div class="col-3">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(cep)"
               id="cep" name="cep" ngModel="usuario.endereco.cep"
               required aria-describedby="cepFeedback" #cep="ngModel"
                (blur)="consultaCEP(cep.value, f)">
       <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cep)"
          msgErro="CEP é obrigatório.">
        </app-campo-control-erro>


      </div>
      <div class="col-3">
        <label for="numero">Número</label>
        <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(numero)"
               id="numero" name="numero" ngModel="usuario.endereco.numero"
               required aria-describedby="numeroFeedback" #numero="ngModel">

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(numero)"
          msgErro="Número é obrigatório.">
        </app-campo-control-erro>

      </div>
      <div class="col">
        <label for="numero">Complemento</label>
        <input type="text" class="form-control"
               id="complemento" name="complemento" ngModel="usuario.endereco.complemento"
               #complemento="ngModel">
      </div>
    </div>


    <div class="form-group">

      <label for="rua" class="">Rua</label>

      <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(rua)"
             name="rua" id="rua" ngModel
             required aria-describedby="ruaFeedback" #rua="ngModel" readonly>

      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(rua)"
        msgErro="Rua é obrigatório.">
      </app-campo-control-erro>
    </div>


    <div class="form-group form-row">
      <div class="col-5">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(bairro)"
               id="bairro" name="bairro" ngModel="usuario.endereco.bairro"
               required aria-describedby="bairroFeedback" #bairro="ngModel" readonly>

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(bairro)"
          msgErro="Bairro é obrigatório.">
        </app-campo-control-erro>

      </div>
      <div class="col-4">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(cidade)"
               id="cidade" name="cidade" ngModel="usuario.endereco.cidade"
               required aria-describedby="cidadeFeedback" #cidade="ngModel" readonly>

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cidade)"
          msgErro="Cidade é obrigatório.">
        </app-campo-control-erro>

      </div>

      <div class="col-3">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" [ngClass]="aplicaCssDeErro(estado)"
               id="estado" name="estado" ngModel="usuario.endereco.estado"
               required aria-describedby="estadoFeedback" #estado="ngModel" readonly>

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(estado)"
          msgErro="Estado é obrigatório.">
        </app-campo-control-erro>

      </div>

    </div>
  </div>


  <button type="submit" class="btn btn-primary"
          [disabled]="!f.valid">Submit
  </button>

<!--
  <pre >
    {{ f.value | json }}
  </pre>
-->

  <app-form-debug [form]="f"></app-form-debug>

</form>
